{% extends 'Pages/base.html' %}
{% load static %}
{% block title %} Login Page {% endblock title %}

{% block content %}


<br xmlns="http://www.w3.org/1999/html">
<br>

<form method="post">{% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username :</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" placeholder="username">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password :</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password1" placeholder="Password">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword2" class="form-label">Confirm Password :</label>
    <input type="password" class="form-control" id="exampleInputPassword2" name="password2" placeholder="Confirm Password">
  </div>

    <input type="submit" class="btn btn-primary" value="Sign up">
    <a style="width: 20px" href="{% url 'login_page' %}"><input   type="button" class="btn btn-primary" value="Login"></a>
</form>
<br>
<br>

{% endblock content %}